<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsb.zbcm.repo.db.pushinfo.impl.PushMessageMapper">
  <resultMap id="BaseResultMap" type="com.xsb.zbcm.repo.db.pushinfo.entity.PushMessage">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="GROUPS" jdbcType="INTEGER" property="groups" />
    <result column="TARGET_TYPE" jdbcType="INTEGER" property="targetType" />
    <result column="PUSH_TIME" jdbcType="TIMESTAMP" property="pushTime" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="CONTENT" jdbcType="VARCHAR" property="content" />
    <result column="ARTICLE_ID" jdbcType="INTEGER" property="articleId" />
    <result column="CREATE_USER_ID" jdbcType="INTEGER" property="createUserId" />
    <result column="CREATE_USER_NAME" jdbcType="VARCHAR" property="createUserName" />
    <result column="STATUS" jdbcType="INTEGER" property="status" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="MESSAGE_TYPE" jdbcType="INTEGER" property="messageType" />
    <result column="URL" jdbcType="VARCHAR" property="url" />
    <result column="INNER_MESSAGE_TYPE" jdbcType="INTEGER" property="innerMessageType" />
    <result column="COUNTY_CODE" jdbcType="INTEGER" property="countyCode" />
    <result column="COUNTY_NAME" jdbcType="VARCHAR" property="countyName" />
    <result column="LINKRELATION_TYPE" jdbcType="INTEGER" property="linkrelationType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.xsb.zbcm.repo.db.pushinfo.entity.PushMessage">
    <result column="PUSH_PERSONS" jdbcType="LONGVARCHAR" property="pushPersons" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, GROUPS, TARGET_TYPE, PUSH_TIME, TITLE, CONTENT, ARTICLE_ID, CREATE_USER_ID, CREATE_USER_NAME, 
    STATUS, CREATE_TIME, MESSAGE_TYPE, URL, INNER_MESSAGE_TYPE, COUNTY_CODE, COUNTY_NAME, 
    LINKRELATION_TYPE
  </sql>
  <sql id="Blob_Column_List">
    PUSH_PERSONS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from push_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from push_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xsb.zbcm.repo.db.pushinfo.entity.PushMessage">
    insert into push_info (ID, GROUPS, TARGET_TYPE, 
      PUSH_TIME, TITLE, CONTENT, 
      ARTICLE_ID, CREATE_USER_ID, CREATE_USER_NAME, 
      STATUS, CREATE_TIME, MESSAGE_TYPE, 
      URL, INNER_MESSAGE_TYPE, COUNTY_CODE, 
      COUNTY_NAME, LINKRELATION_TYPE, PUSH_PERSONS
      )
    values (#{id,jdbcType=INTEGER}, #{groups,jdbcType=INTEGER}, #{targetType,jdbcType=INTEGER}, 
      #{pushTime,jdbcType=TIMESTAMP}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{articleId,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, #{createUserName,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{messageType,jdbcType=INTEGER}, 
      #{url,jdbcType=VARCHAR}, #{innerMessageType,jdbcType=INTEGER}, #{countyCode,jdbcType=INTEGER}, 
      #{countyName,jdbcType=VARCHAR}, #{linkrelationType,jdbcType=INTEGER}, #{pushPersons,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xsb.zbcm.repo.db.pushinfo.entity.PushMessage">
    insert into push_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="groups != null">
        GROUPS,
      </if>
      <if test="targetType != null">
        TARGET_TYPE,
      </if>
      <if test="pushTime != null">
        PUSH_TIME,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="content != null">
        CONTENT,
      </if>
      <if test="articleId != null">
        ARTICLE_ID,
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID,
      </if>
      <if test="createUserName != null">
        CREATE_USER_NAME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="messageType != null">
        MESSAGE_TYPE,
      </if>
      <if test="url != null">
        URL,
      </if>
      <if test="innerMessageType != null">
        INNER_MESSAGE_TYPE,
      </if>
      <if test="countyCode != null">
        COUNTY_CODE,
      </if>
      <if test="countyName != null">
        COUNTY_NAME,
      </if>
      <if test="linkrelationType != null">
        LINKRELATION_TYPE,
      </if>
      <if test="pushPersons != null">
        PUSH_PERSONS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groups != null">
        #{groups,jdbcType=INTEGER},
      </if>
      <if test="targetType != null">
        #{targetType,jdbcType=INTEGER},
      </if>
      <if test="pushTime != null">
        #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageType != null">
        #{messageType,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="innerMessageType != null">
        #{innerMessageType,jdbcType=INTEGER},
      </if>
      <if test="countyCode != null">
        #{countyCode,jdbcType=INTEGER},
      </if>
      <if test="countyName != null">
        #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="linkrelationType != null">
        #{linkrelationType,jdbcType=INTEGER},
      </if>
      <if test="pushPersons != null">
        #{pushPersons,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsb.zbcm.repo.db.pushinfo.entity.PushMessage">
    update push_info
    <set>
      <if test="groups != null">
        GROUPS = #{groups,jdbcType=INTEGER},
      </if>
      <if test="targetType != null">
        TARGET_TYPE = #{targetType,jdbcType=INTEGER},
      </if>
      <if test="pushTime != null">
        PUSH_TIME = #{pushTime,jdbcType=TIMESTAMP},
      </if>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null">
        ARTICLE_ID = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null">
        CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createUserName != null">
        CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="messageType != null">
        MESSAGE_TYPE = #{messageType,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="innerMessageType != null">
        INNER_MESSAGE_TYPE = #{innerMessageType,jdbcType=INTEGER},
      </if>
      <if test="countyCode != null">
        COUNTY_CODE = #{countyCode,jdbcType=INTEGER},
      </if>
      <if test="countyName != null">
        COUNTY_NAME = #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="linkrelationType != null">
        LINKRELATION_TYPE = #{linkrelationType,jdbcType=INTEGER},
      </if>
      <if test="pushPersons != null">
        PUSH_PERSONS = #{pushPersons,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.xsb.zbcm.repo.db.pushinfo.entity.PushMessage">
    update push_info
    set GROUPS = #{groups,jdbcType=INTEGER},
      TARGET_TYPE = #{targetType,jdbcType=INTEGER},
      PUSH_TIME = #{pushTime,jdbcType=TIMESTAMP},
      TITLE = #{title,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      ARTICLE_ID = #{articleId,jdbcType=INTEGER},
      CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
      CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MESSAGE_TYPE = #{messageType,jdbcType=INTEGER},
      URL = #{url,jdbcType=VARCHAR},
      INNER_MESSAGE_TYPE = #{innerMessageType,jdbcType=INTEGER},
      COUNTY_CODE = #{countyCode,jdbcType=INTEGER},
      COUNTY_NAME = #{countyName,jdbcType=VARCHAR},
      LINKRELATION_TYPE = #{linkrelationType,jdbcType=INTEGER},
      PUSH_PERSONS = #{pushPersons,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsb.zbcm.repo.db.pushinfo.entity.PushMessage">
    update push_info
    set GROUPS = #{groups,jdbcType=INTEGER},
      TARGET_TYPE = #{targetType,jdbcType=INTEGER},
      PUSH_TIME = #{pushTime,jdbcType=TIMESTAMP},
      TITLE = #{title,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      ARTICLE_ID = #{articleId,jdbcType=INTEGER},
      CREATE_USER_ID = #{createUserId,jdbcType=INTEGER},
      CREATE_USER_NAME = #{createUserName,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      MESSAGE_TYPE = #{messageType,jdbcType=INTEGER},
      URL = #{url,jdbcType=VARCHAR},
      INNER_MESSAGE_TYPE = #{innerMessageType,jdbcType=INTEGER},
      COUNTY_CODE = #{countyCode,jdbcType=INTEGER},
      COUNTY_NAME = #{countyName,jdbcType=VARCHAR},
      LINKRELATION_TYPE = #{linkrelationType,jdbcType=INTEGER}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>