<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsb.zbcm.repo.db.userreadlog.impl.UserKeepArticleMapper">
  <resultMap id="BaseResultMap" type="com.xsb.zbcm.repo.db.userreadlog.entity.UserKeepArticle">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="ARTICLE_ID" jdbcType="INTEGER" property="articleId" />
    <result column="CREATE_TIME" jdbcType="BIGINT" property="createTime" />
    <result column="COUNTY_CODE" jdbcType="TINYINT" property="countyCode" />
    <result column="COUNTY_NAME" jdbcType="VARCHAR" property="countyName" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, USER_ID, ARTICLE_ID, CREATE_TIME, COUNTY_CODE, COUNTY_NAME, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from USER_KEEP_ARTICLE
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from USER_KEEP_ARTICLE
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xsb.zbcm.repo.db.userreadlog.entity.UserKeepArticle">
    insert into USER_KEEP_ARTICLE (ID, USER_ID, ARTICLE_ID, 
      CREATE_TIME, COUNTY_CODE, COUNTY_NAME, 
      status)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{articleId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{countyCode,jdbcType=TINYINT}, #{countyName,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.xsb.zbcm.repo.db.userreadlog.entity.UserKeepArticle">
    insert into USER_KEEP_ARTICLE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="articleId != null">
        ARTICLE_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="countyCode != null">
        COUNTY_CODE,
      </if>
      <if test="countyName != null">
        COUNTY_NAME,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        #{articleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="countyCode != null">
        #{countyCode,jdbcType=TINYINT},
      </if>
      <if test="countyName != null">
        #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsb.zbcm.repo.db.userreadlog.entity.UserKeepArticle">
    update USER_KEEP_ARTICLE
    <set>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null">
        ARTICLE_ID = #{articleId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="countyCode != null">
        COUNTY_CODE = #{countyCode,jdbcType=TINYINT},
      </if>
      <if test="countyName != null">
        COUNTY_NAME = #{countyName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsb.zbcm.repo.db.userreadlog.entity.UserKeepArticle">
    update USER_KEEP_ARTICLE
    set USER_ID = #{userId,jdbcType=INTEGER},
      ARTICLE_ID = #{articleId,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=BIGINT},
      COUNTY_CODE = #{countyCode,jdbcType=TINYINT},
      COUNTY_NAME = #{countyName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>