<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xsb.zbcm.repo.db.columnstat.impl.ColumnStatisticsReportMapper">
  <resultMap id="BaseResultMap" type="com.xsb.zbcm.repo.db.columnstat.entity.ColumnStatisticsReport">
    <id column="COLUMN_ID" jdbcType="INTEGER" property="columnId" />
    <result column="TOTAL_READ_NUM" jdbcType="INTEGER" property="totalReadNum" />
    <result column="POINT_NUM" jdbcType="INTEGER" property="pointNum" />
    <result column="ORIGINAL_READ_NUM" jdbcType="INTEGER" property="originalReadNum" />
    <result column="KEEP_NUM" jdbcType="INTEGER" property="keepNum" />
    <result column="COMMENT_NUM" jdbcType="INTEGER" property="commentNum" />
    <result column="SHARE_NUM" jdbcType="INTEGER" property="shareNum" />
    <result column="TOTAL_TIP_AMOUNT" jdbcType="INTEGER" property="totalTipAmount" />
    <result column="SUBSCRIBES_COUNT" jdbcType="INTEGER" property="subscribesCount" />
    <result column="STATISTIC_TIME" jdbcType="TIMESTAMP" property="statisticTime" />
    <result column="APP_PV" jdbcType="INTEGER" property="appPv" />
    <result column="WEB_PV" jdbcType="INTEGER" property="webPv" />
    <result column="APP_READ_NUM" jdbcType="INTEGER" property="appReadNum" />
    <result column="WEB_READ_NUM" jdbcType="INTEGER" property="webReadNum" />
  </resultMap>
  <sql id="Base_Column_List">
    COLUMN_ID, TOTAL_READ_NUM, POINT_NUM, ORIGINAL_READ_NUM, KEEP_NUM, COMMENT_NUM, SHARE_NUM, 
    TOTAL_TIP_AMOUNT, SUBSCRIBES_COUNT, STATISTIC_TIME, APP_PV, WEB_PV, APP_READ_NUM, 
    WEB_READ_NUM
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from COLUMN_STATISTICS_REPORT
    where COLUMN_ID = #{columnId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from COLUMN_STATISTICS_REPORT
    where COLUMN_ID = #{columnId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xsb.zbcm.repo.db.columnstat.entity.ColumnStatisticsReport">
    insert into COLUMN_STATISTICS_REPORT (COLUMN_ID, TOTAL_READ_NUM, POINT_NUM, 
      ORIGINAL_READ_NUM, KEEP_NUM, COMMENT_NUM, 
      SHARE_NUM, TOTAL_TIP_AMOUNT, SUBSCRIBES_COUNT, 
      STATISTIC_TIME, APP_PV, WEB_PV, 
      APP_READ_NUM, WEB_READ_NUM)
    values (#{columnId,jdbcType=INTEGER}, #{totalReadNum,jdbcType=INTEGER}, #{pointNum,jdbcType=INTEGER}, 
      #{originalReadNum,jdbcType=INTEGER}, #{keepNum,jdbcType=INTEGER}, #{commentNum,jdbcType=INTEGER}, 
      #{shareNum,jdbcType=INTEGER}, #{totalTipAmount,jdbcType=INTEGER}, #{subscribesCount,jdbcType=INTEGER}, 
      #{statisticTime,jdbcType=TIMESTAMP}, #{appPv,jdbcType=INTEGER}, #{webPv,jdbcType=INTEGER}, 
      #{appReadNum,jdbcType=INTEGER}, #{webReadNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.xsb.zbcm.repo.db.columnstat.entity.ColumnStatisticsReport">
    insert into COLUMN_STATISTICS_REPORT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="columnId != null">
        COLUMN_ID,
      </if>
      <if test="totalReadNum != null">
        TOTAL_READ_NUM,
      </if>
      <if test="pointNum != null">
        POINT_NUM,
      </if>
      <if test="originalReadNum != null">
        ORIGINAL_READ_NUM,
      </if>
      <if test="keepNum != null">
        KEEP_NUM,
      </if>
      <if test="commentNum != null">
        COMMENT_NUM,
      </if>
      <if test="shareNum != null">
        SHARE_NUM,
      </if>
      <if test="totalTipAmount != null">
        TOTAL_TIP_AMOUNT,
      </if>
      <if test="subscribesCount != null">
        SUBSCRIBES_COUNT,
      </if>
      <if test="statisticTime != null">
        STATISTIC_TIME,
      </if>
      <if test="appPv != null">
        APP_PV,
      </if>
      <if test="webPv != null">
        WEB_PV,
      </if>
      <if test="appReadNum != null">
        APP_READ_NUM,
      </if>
      <if test="webReadNum != null">
        WEB_READ_NUM,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="columnId != null">
        #{columnId,jdbcType=INTEGER},
      </if>
      <if test="totalReadNum != null">
        #{totalReadNum,jdbcType=INTEGER},
      </if>
      <if test="pointNum != null">
        #{pointNum,jdbcType=INTEGER},
      </if>
      <if test="originalReadNum != null">
        #{originalReadNum,jdbcType=INTEGER},
      </if>
      <if test="keepNum != null">
        #{keepNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="shareNum != null">
        #{shareNum,jdbcType=INTEGER},
      </if>
      <if test="totalTipAmount != null">
        #{totalTipAmount,jdbcType=INTEGER},
      </if>
      <if test="subscribesCount != null">
        #{subscribesCount,jdbcType=INTEGER},
      </if>
      <if test="statisticTime != null">
        #{statisticTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appPv != null">
        #{appPv,jdbcType=INTEGER},
      </if>
      <if test="webPv != null">
        #{webPv,jdbcType=INTEGER},
      </if>
      <if test="appReadNum != null">
        #{appReadNum,jdbcType=INTEGER},
      </if>
      <if test="webReadNum != null">
        #{webReadNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xsb.zbcm.repo.db.columnstat.entity.ColumnStatisticsReport">
    update COLUMN_STATISTICS_REPORT
    <set>
      <if test="totalReadNum != null">
        TOTAL_READ_NUM = #{totalReadNum,jdbcType=INTEGER},
      </if>
      <if test="pointNum != null">
        POINT_NUM = #{pointNum,jdbcType=INTEGER},
      </if>
      <if test="originalReadNum != null">
        ORIGINAL_READ_NUM = #{originalReadNum,jdbcType=INTEGER},
      </if>
      <if test="keepNum != null">
        KEEP_NUM = #{keepNum,jdbcType=INTEGER},
      </if>
      <if test="commentNum != null">
        COMMENT_NUM = #{commentNum,jdbcType=INTEGER},
      </if>
      <if test="shareNum != null">
        SHARE_NUM = #{shareNum,jdbcType=INTEGER},
      </if>
      <if test="totalTipAmount != null">
        TOTAL_TIP_AMOUNT = #{totalTipAmount,jdbcType=INTEGER},
      </if>
      <if test="subscribesCount != null">
        SUBSCRIBES_COUNT = #{subscribesCount,jdbcType=INTEGER},
      </if>
      <if test="statisticTime != null">
        STATISTIC_TIME = #{statisticTime,jdbcType=TIMESTAMP},
      </if>
      <if test="appPv != null">
        APP_PV = #{appPv,jdbcType=INTEGER},
      </if>
      <if test="webPv != null">
        WEB_PV = #{webPv,jdbcType=INTEGER},
      </if>
      <if test="appReadNum != null">
        APP_READ_NUM = #{appReadNum,jdbcType=INTEGER},
      </if>
      <if test="webReadNum != null">
        WEB_READ_NUM = #{webReadNum,jdbcType=INTEGER},
      </if>
    </set>
    where COLUMN_ID = #{columnId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xsb.zbcm.repo.db.columnstat.entity.ColumnStatisticsReport">
    update COLUMN_STATISTICS_REPORT
    set TOTAL_READ_NUM = #{totalReadNum,jdbcType=INTEGER},
      POINT_NUM = #{pointNum,jdbcType=INTEGER},
      ORIGINAL_READ_NUM = #{originalReadNum,jdbcType=INTEGER},
      KEEP_NUM = #{keepNum,jdbcType=INTEGER},
      COMMENT_NUM = #{commentNum,jdbcType=INTEGER},
      SHARE_NUM = #{shareNum,jdbcType=INTEGER},
      TOTAL_TIP_AMOUNT = #{totalTipAmount,jdbcType=INTEGER},
      SUBSCRIBES_COUNT = #{subscribesCount,jdbcType=INTEGER},
      STATISTIC_TIME = #{statisticTime,jdbcType=TIMESTAMP},
      APP_PV = #{appPv,jdbcType=INTEGER},
      WEB_PV = #{webPv,jdbcType=INTEGER},
      APP_READ_NUM = #{appReadNum,jdbcType=INTEGER},
      WEB_READ_NUM = #{webReadNum,jdbcType=INTEGER}
    where COLUMN_ID = #{columnId,jdbcType=INTEGER}
  </update>
</mapper>